.wufoo {
    font-family: "Roboto", sans-serif !important; 
    letter-spacing: normal !important; 
    color: #444 !important;
}
.wufoo li.focused {
    background: transparent !important;
    color: red !important;
}

input.text, input.search, textarea.textarea, select {
    border: solid 1px #dedede;
    padding: 6px;
    color: #565656;
}
input.text:focus, input.search:focus, textarea:focus.textarea:focus, select:focus {
    border: solid 1px #cdcdcd;
}

#saveForm {
    background: #efefef;
    border: solid 1px #aaa;
    border-radius: 6px;
    font-size: 1em;
    padding: 4px 6px;
    color: #444;
}