/* #wufooFormqr3kybg17kwzuv  */
html.embed {
    background-color: transparent !important;
}
.wufoo {
    font-family: "Roboto", sans-serif !important; 
    letter-spacing: normal !important; 
    color: #444 !important;
}
.wufoo li.focused {
    background: transparent !important;
}

input.text, input.search, textarea.textarea, select {
    border: solid 1px #dedede;
    padding: 6px !important;
    color: #565656 !important;
    background: #fff !important;
}
input.text:focus, input.search:focus, textarea:focus.textarea:focus, select:focus {
    border: solid 1px #cdcdcd;
    outline-color: #cdcdcd !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    color: #565656 !important;
    padding: 6px !important;
}

#saveForm {
    background: #f6f6f6;
    border: solid 1px #aaa;
    border-radius: 2px;
    font-size: 1em;
    padding: 6px 8px;
    color: #444;
}